.container-fluid {
  margin: 100px;
}
.row {
  margin: 100px;
}
input[type="file"] {
  visibility: hidden;
}
.btn-trans {
  background: transparent;
  border: none;
}
.im-content {
  display: flex;
  flex-direction: row;
}
