<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <header>
            <h1>Add Product</h1>
        </header>
        <form [formGroup]="productForm" (ngSubmit)="addProduct()">
            <div class="mb-3">
                <label for="productTitle" class="form-label">Product Title</label>
                <input type="text" class="form-control" id="productTitle" formControlName="productTitle">
            </div>
            <div class="mb-3 im-content">
                <button type="button" class="btn btn-primary" (click)="image.click()">add Image</button>
                <input type="file" accept="image/*" class="form-control" name="imageurl" id="imageurl"
                    formControlName="imageurl" #image (change)="handleInputChange($event)">
                <img *ngIf="imageSrc !=''" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded"
                    width="66" height="66" />


                <button *ngIf="imageSrc !=''" (click)="cancel()" class="btn-trans"><svg
                        xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg></button>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>